/*background color = E0E0E0*/

body {background-color: #E0E0E0;}

.pokemon-list {list-style: none;
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;}

.list-group-item {border:none;
                  text-align: center;}

img  {width: 100px;
      height: 100px;}

.modal-body {text-align: center;}



@media all and (max-width: 550px) {
.pokemon-list {
    grid-template-columns: 1fr 1fr;
}};
